<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.dailyhealth">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- goolge maps config -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 외부 저장소 권한 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 사용자의 정확한 위치 정보 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /><!-- 사용자의 정확도 가 떨어지는 위치 정보 -->

    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICE" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION"/>
    <permission
        android:name="com.example.dailyhealth.permission.MAPS_RECEIVE"
        android:label="signature" />

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:name=".ui.user.CustomApplication"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DailyHealth"
        tools:targetApi="31">


        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" /> <!-- 위치 정보 받아오는 service 등록 -->

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="96b0705616358fb23fddf347aade35c2" />

        <activity
            android:name=".util.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".MainActivity2"
            android:exported="true">
        </activity>
        <activity
            android:name=".MainActivity_register"
            android:exported="true">
        </activity>
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Redirect URI: "kakao${NATIVE_APP_KEY}://oauth" -->
                <data
                    android:host="oauth"
                    android:scheme="kakao$96b0705616358fb23fddf347aade35c2" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.cal.FoodSearch"
            android:exported="false" />
        <activity
            android:name=".ui.cal.OneDay_Record"
            android:exported="false" />

<!--        <service-->
<!--            android:name=".service.StepService"-->
<!--            android:foregroundServiceType="location" />-->

        <service
            android:name=".service.TrackingService"
            android:foregroundServiceType="location">
            <!-- Any inner elements would go here. -->
        </service>

    </application>

</manifest>